<html>

<head>
    <title>Linkedin Badge Render</title>
</head>

<body>
    
    <div id="main" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Linkedin Badge render</a>
        </nav>
        
        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="<%=query.vanity%>">
            <a class="LI-simple-link" href='https://www.linkedin.com/in/<%=query.vanity%>?trk=profile-badge'><%=query.name%></a>
        </div>
        <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    </div>
</body>

</html>